body {
    
    font-family: Arial, sans-serif;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    flex: 0 0 520px; 
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="file"],
select,
textarea {
    width: 500px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin-left: 10px;
}

textarea {
    resize: none;
}

.form-actions {
    text-align: center;
    margin-top: 20px;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 70px;
    font-size: 16px;
    color: #fff;
    background-color: brown;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: darkred;
}
